version: "3.9"

services:
  api:
    build: .
    container_name: video_api
    restart: always
    ports:
      - "8003:8003"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - .:/app

  redis:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"

  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"
